<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="index : ${index}">
            <td th:text="${index.getId()}"></td>
            <td th:text="${index.getName()}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/users/{id}/edit(id=${index.getId()})}">edit</a>
    <form th:method="DELETE" th:action="@{/users/{id}/delete(id=${index.getId()})}">
        <input type="submit" value="delete"/>
    </form>
</div>

</body>
</html>